$defaultFontSize: 16px;
$primary_color: #0098d3;
$primary_color_hover: #0280b3;

$menu_color: #252527;

$font_light: #fff;
$font_grey_light: #e8e8e8;
$font_grey: #808080;
$font_grey_dark: #000;
$font_dark_light: #252527;
$font_light: #000;

$border_light:#fff;
$border_grey_light:#e8e8e8;
$border_grey:#808080;
$border_grey_dark:#595959;
$border_light_dark_light:#252527;
$border_dark:#000;

$background_light: #fff;
$background_grey_light: #e8e8e8;
$background_grey: #808080;
$background_grey_light: #595959;
$background_dark_light: #252527;
$background_dark: #000;

$success:#84b84c;
$error:#f00;







$media_breackpoint_down_xs:413.98px;
$media_breackpoint_down_sm:573.98px;
$media_breackpoint_down_md:767.98px;
$media_breackpoint_down_lg:991.98px;
$media_breackpoint_down_xl:1199.98px;

$media_breackpoint_down_xs:320px;
$media_breackpoint_down_xs:576px;
$media_breackpoint_down_xs:768px;
$media_breackpoint_down_xs:992px;
$media_breackpoint_down_xs:1200px;



